<div class="container text-center gap-3 p-3">
<h1 style="font-family:Inspiration, cursive; font-size: 5rem;"> Ristorante Il Gambero Rosso</h1>
<div class="d-flex justify-content-center gap-3 p-3">
    <img src="./assets/imgs/restaurant.jpg" style="height: 30rem;" >
    <div>
        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, laborum.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae odio unde aut labore dolorem ipsum quos eum! Voluptates quae tempore doloremque tempora ex consequuntur voluptatum quasi optio, delectus odit atque non sed veniam dolores iusto vitae eligendi exercitationem hic in aut iure? Asperiores velit ex iste perspiciatis accusantium alias ratione!

        </p>
            <ul>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, magni.
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, magni.
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, magni.
                </li>
                
            </ul>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae mollitia enim sit iste repellendus tempore voluptate veritatis eos similique. Laboriosam blanditiis sed architecto nobis maiores possimus suscipit quibusdam repellat ut? Laudantium mollitia eligendi quibusdam error dolor!</p>
    </div>
</div>
</div>