.herobg{
    background-image: url(https://cdn.pixabay.com/photo/2018/03/04/20/05/pizza-3199081_960_720.jpg);
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.shedow{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    
}

.hero{
    color: white;
    text-align: center;
    padding: 7rem;
}